{% extends 'base.html' %}
{% block title %} Home {% endblock title %}

{% block body %}
<h1 class="text-center">Interview system for the awesome data science company</h1><br>

<a href="{{url_for('login')}}" type="button" class="position-absolute top-30 start-50 translate-middle btn btn-success btn-sm mx-1 my-1">Login</a><br>
<a href="{{url_for('register')}}" type="button" class="my-3 position-absolute top-30 start-50 translate-middle btn btn-success btn-sm mx-1">Sign up</a>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>


{% endblock body %}